.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BBYyvk2?w=0&h=0&q=60&m=6&f=jpg&u=t); /* Замените этот URL на URL вашего изображения */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
  }
.window {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 14px;
    height: 50px;
    padding: 150px;
    /*border: 1px solid rgb(200, 20, 230);/*#2480dc;
    border-radius: 100%+1000px;*/
    box-shadow: 30px 0px 30px rgba(250, 30, 120, 1.15);
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(3, 220px);*/
    gap: 2px;
}
.el {
    height: 150px;
    padding: 15px 35px;
    font-size: 29px;
    /*color: #fff;*/
    background-image: url(https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BBYyvk2?w=0&h=0&q=60&m=6&f=jpg&u=t);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: 1px dashed #aaa;
    border-radius: 100%+1000px;
    box-shadow: 30px 0px 30px rgba(250, 30, 120, 1.15);
    
    text-align: center;
    line-height: 70px;   
    /*padding-right: 42px;
    padding-left: 1px;*/
 }
.centrel {
  font-size: 32px;
  position: absolute;
  left: 25%;
  top: 32%;
}
